// Подключаемые шрифты
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');

// @import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Lora:wght@400;700&display=swap');

// Подключаемые стили
// @import "nullstyle.scss";
// @import "mixin.scss";

/*----- Стили обнуления -----*/
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}

li {
	list-style: none;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

img {
	vertical-align: top;
}

// html {
// }

body {
	line-height: 1;
	color: #000;
}

/* --------------- */

// Скаченные шрифты

// Шрифт по умолчанию
$fontfamily: Oswald;

$car-width: 350;

.page {
	font-family: $fontfamily, sans-serif;
	background: #fff url("../../img/content/fon.png") 0 0 no-repeat;
}

.conteiner {
	overflow: hidden;
	max-width: 1100px;
	margin: 0 auto;
	// outline: 1px solid red;
}

//----- HEADER -----
.header {

	&__menu-l1 {
		position: fixed;
		z-index: 2;
		background-color: chocolate;
		top: 0;
		left: 0;
		width: 100%;
		text-align: center;

		&>li {
			display: inline-block;
			margin: 0 50px 0 0;
			position: relative;

			&:last-child {
				margin-right: 0;
			}

			&:hover .header__link-l1 {
				color: rgb(200, 200, 200);
			}

			&:hover .header__menu-l2 {
				display: block;
			}
		}
	}

	&__link-l1 {
		display: inline-block;
		color: #fff;
		font-size: 18px;
		line-height: 120%;
		padding: 10px 0;
		text-shadow: 1px 1px 1px #000;

		&::after {
			content: '';
			display: inline-block;
			position: absolute;
			left: 0;
			top: 100%;
			width: 100%;
			height: 5%;
		}
	}

	&__menu-l2 {
		display: none;
		position: absolute;
		left: 0;
		top: 105%;
		background-color: rgb(180, 90, 26);

		&>li {
			position: relative;

			&:hover .header__link-l2 {
				color: rgb(200, 200, 200);
			}

			&:hover .header__menu-l3 {
				display: block;
			}
		}
	}

	&__link-l2 {
		display: inline-block;
		width: 200px;
		font-size: 18px;
		line-height: 120%;
		padding: 10px 0;
		color: #fff;
		text-shadow: 1px 1px 1px #000;
		border-bottom: 1px dotted #fff;

		&::after {
			content: '';
			display: inline-block;
			position: absolute;
			left: 100%;
			width: 1%;
			height: 100%;
		}
	}

	&__menu-l3 {
		display: none;
		position: absolute;
		top: 0;
		left: 101%;
		background-color: rgb(143, 72, 21);

		&>li {
			&:hover .header__link-l3 {
				color: rgb(200, 200, 200);
			}
		}
	}

	&__link-l3 {
		display: inline-block;
		width: 200px;
		font-size: 18px;
		line-height: 120%;
		padding: 10px 0;
		color: #fff;
		text-shadow: 1px 1px 1px #000;
		border-bottom: 1px dotted #fff;
	}
}

//----- MAIN -----
.main {

	&__body {
		// background-color: blanchedalmond;
		padding: 60px 10px 10px;
	}

	&__list {

		& li {
			position: relative;
			margin: 0 0 20px 0;
			padding: 0 0 0 30px;
			font-size: 20px;

			&:last-child {
				margin-bottom: 0;
			}

			&::before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 24px;
				height: 24px;
				background: url("../../img/icons/check.png") 0 0 no-repeat;
			}
		}
	}
}

.wrap {
	// outline: 1px solid red;
	width: 400px;
	height: 300px;
	padding: 35px 25px;
}

.car {
	position: relative;
	// outline: 1px solid black;
	display: inline-block;
	// margin: 200px;

	&:hover .car__headlight::before,
	&:hover .car__headlight::after {
		background-color: #fff;
		box-shadow: 0 0 40px 20px #fff;
	}

	&:hover .car__numb::before,
	&:hover .car__numb::after {
		box-shadow: 0 0 20px 5px #fff;
	}

	//---------- Крыша + лобовое + стойки ----------

	//лобовое стекло
	&__roof {
		position: relative;
		top: 0;
		left: 50%;
		width: 250px;
		height: 0;
		margin: 0 0 0 -125px;
		border-bottom: 55px solid rgba(115, 220, 255, 0.5);
		border-left: 30px solid transparent;
		border-right: 30px solid transparent;

		//крыша
		&::before {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			width: 190px;
			height: 12px;
			background-color: #000;
			border-radius: 250px 250px 0px 0px / 75px 75px 0px 0px;
		}
	}

	//стойки
	&__roof-left {
		position: absolute;
		top: 26px;
		left: -46px;
		width: 67px;
		height: 4px;
		background-color: black;
		transform: rotate(-63deg);
	}

	//стойки
	&__roof-right {
		position: absolute;
		top: 26px;
		right: -46px;
		width: 67px;
		height: 4px;
		background-color: black;
		transform: rotate(63deg);
	}

	//--------------------

	//---------- Корпус + белые линии + дворники + зеркала ----------

	//корпус
	&__body {
		position: relative;
		width: $car-width+px;
		height: 150px;
		border: 1px solid red;
		border-radius: 120px 121px 275px 275px / 75px 75px 95px 95px;
		background-color: red;
		box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.5), 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
	}

	//зеркала
	&__mirror-left {
		position: absolute;
		top: 23%;
		left: 7%;
		width: 30px;
		height: 15px;
		border-radius: 50%;
		background-color: #000;
	}

	//зеркала
	&__mirror-right {
		position: absolute;
		top: 23%;
		right: 7%;
		width: 30px;
		height: 15px;
		border-radius: 50%;
		background-color: #000;
	}

	//белая полоса на капоте
	&__white-line-1 {
		position: absolute;
		top: 0;
		left: 50%;
		margin: 0px 0 0 35px;
		width: 40px;
		height: 60px;
		background: #fff;
		-webkit-transform: skew(15deg);
		-moz-transform: skew(15deg);
		-o-transform: skew(15deg);
		transform: skew(15deg);
	}

	//щетка лобового стекла
	&__white-line-1::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		margin: -4px 0 0 -15px;
		width: 100px;
		height: 6px;
		border-radius: 50% 25% 25% 50%;
		background-color: #000;
	}

	//белая полоса на капоте
	&__white-line-2 {
		position: absolute;
		top: 0;
		right: 50%;
		margin: 0px 35px 0 0;
		width: 40px;
		height: 60px;
		background: #fff;
		-webkit-transform: skew(-15deg);
		-moz-transform: skew(-15deg);
		-o-transform: skew(-15deg);
		transform: skew(-15deg);
	}

	//щетка лобового стекла
	&__white-line-2::before {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		margin: -4px -15px 0 0px;
		width: 100px;
		height: 6px;
		border-radius: 50% 25% 25% 50%;
		background-color: #000;
	}

	//--------------------

	//---------- Фары ----------
	&__headlight-body {
		position: absolute;
		top: 0px;
		// border: 1px solid black;
		width: 47px;
		height: 77px;
		background-color: red;
		border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
	}

	&__headlight-body-left {
		transform: rotate(45deg);
		left: 9px;
		box-shadow: inset 0px 1px 1px 0 rgba(0, 0, 0, 0.3), 1px 1px 1px 0px rgba(0, 0, 0, 0.3);
	}

	&__headlight-body-right {
		transform: rotate(-45deg);
		right: 9px;
		box-shadow: inset 0px 1px 1px 0 rgba(0, 0, 0, 0.3), -1px 1px 1px 0px rgba(0, 0, 0, 0.3);
	}

	&__headlight {
		position: absolute;
		bottom: -1px;
		width: 35px;
		height: 50px;
		border: 2px solid #000;
		background-color: #fff;
		border-radius: 100px 100px 100px 100px / 150px 150px 150px 150px;
		box-shadow: inset 0px 0px 5px 0 black;

		&::before {
			content: '';
			position: absolute;
			top: 50%;
			width: 10px;
			height: 10px;
			border-radius: 50%;
			border: 1px solid #aaa;
			background-color: #fff;
		}

		&::after {
			content: '';
			position: absolute;
			top: 50%;
			width: 20px;
			height: 20px;
			border-radius: 50%;
			border: 1px solid #aaa;
			background-color: rgb(115, 220, 255);
		}
	}

	&__headlight-left {
		transform: rotate(-37deg);
		left: 4px;

		&::before {
			left: 2px;
		}

		&::after {
			left: 8px;
		}
	}

	&__headlight-right {
		transform: rotate(37deg);
		right: 4px;

		&::before {
			right: 2px;
		}

		&::after {
			right: 8px;
		}
	}

	&__headlight-top {
		position: absolute;
		top: -1px;
		left: 3px;
		width: 25px;
		height: 10px;
		border-radius: 150px 150px 0px 0px / 100px 100px 0px 0px;
		border: 1px solid #000;
		background-color: yellow;
	}

	//--------------------

	//---------- Решотка капота + бампер + номер + колеса ----------

	//решотка капота
	&__hood-grill-top {
		position: absolute;
		// display: inline-block;
		top: 45%;
		left: 50%;
		margin: -10px 0 0 -100px;
		width: 200px;
		height: 30px;
		border: 3px solid #aaa;
		background-color: #aaa;
		box-shadow: inset 0px 1px 3px 0 black, inset 0px -1px 3px 0 black, 0px -1px 5px 0 black;
		border-radius: 70px 70px 0px 0px / 75px 75px 0px 0px;
	}

	//решотка капота
	&__grill-line-1 {
		position: absolute;
		top: 0;
		left: 50%;
		margin: 4px 0 0 -85px;
		width: 170px;
		height: 2px;
		box-shadow: inset 1px 1px 1px 0 black, 1px 1px 1px 0 black;
		background-color: #ccc;
	}

	//решотка капота
	&__grill-line-2 {
		position: absolute;
		top: 0;
		left: 50%;
		margin: 10px 0 0 -90px;
		width: 180px;
		height: 2px;
		box-shadow: inset 1px 1px 1px 0 black, 1px 1px 1px 0 black;
		background-color: #ccc;
	}

	//решотка капота
	&__grill-line-3 {
		position: absolute;
		top: 0;
		left: 50%;
		margin: 16px 0 0 -95px;
		width: 190px;
		height: 2px;
		box-shadow: inset 1px 1px 1px 0 black, 1px 1px 1px 0 black;
		background-color: #ccc;
	}

	//решотка капота
	&__hood-grill-bottom {
		position: absolute;
		top: 45%;
		left: 50%;
		margin: 20px 0 0 -100px;
		width: 200px;
		height: 20px;
		border: 3px solid #aaa;
		background-color: #aaa;
		box-shadow: inset 0px 1px 3px 0 black, inset 0px -1px 3px 0 black, 0px -2px 5px 0 black;
		border-radius: 25px 25px 0px 0px / 75px 75px 0px 0px;
		transform: rotate(180deg);
	}

	//решотка капота
	&__grill-line-4 {
		position: absolute;
		top: 0;
		left: 50%;
		margin: 3px 0 0 -96px;
		width: 190px;
		height: 2px;
		box-shadow: inset 1px 1px 1px 0 black, 1px 1px 1px 0 black;
		background-color: #ccc;
	}

	//фары над решоткой
	&__grill-line-4::before {
		content: '';
		position: absolute;
		top: 32px;
		left: 10px;
		width: 25px;
		height: 25px;
		border-radius: 50%;
		background-color: #fff;
		box-shadow: inset 0 0 4px 0 black, 2px 0 2px 0 black;
		border: 2px solid #aaa;
	}

	//фары над решоткой
	&__grill-line-4::after {
		content: '';
		position: absolute;
		top: 32px;
		right: 10px;
		width: 25px;
		height: 25px;
		border-radius: 50%;
		background-color: #fff;
		box-shadow: inset 0 0 4px 0 black, -2px 0 2px 0 black;
		border: 2px solid #aaa;
	}

	//бампер
	&__bump {
		position: absolute;
		top: 50%;
		left: -1px;
		width: $car-width+px;
		height: 20px;
		background-color: red;
		box-shadow: inset -1px 1px 3px 0 rgba(0, 0, 0, 0.3), inset 1px 1px 3px 0 rgba(0, 0, 0, 0.3), 0px 1px 3px 0 rgba(0, 0, 0, 0.5);
		border-radius: 25px 25px 240px 240px / 75px 75px 75px 75px;
	}

	//нижняя часть бампера (черная)
	&__bump-bottom {
		position: absolute;
		bottom: 0;
		left: 50%;
		margin: 0 0 -20px -175px;
		width: $car-width+px;
		height: 100px;
		background-color: #555;
		box-shadow: inset 0 -1px 5px 2px black;
		border-radius: 6px 0px 170px 170px / 0px 0px 75px 75px;
	}

	//номер
	&__numb {
		position: absolute;
		top: 50%;
		left: 50%;
		margin: 40px 0 0 -50px;
		font-size: 16px;
		color: #fff;
		padding: 2px 10px;
		background-color: #000;
		border: 1px solid #fff;
		box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.5), 0 0px 5px 0 rgba(0, 0, 0, 0.5);
	}

	//противотуманки
	&__numb::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		margin: -15px 0 0 -100px;
		width: 19px;
		height: 19px;
		border-radius: 50%;
		border: 1px solid #aaa;
		box-shadow: inset 0 0 5px 0 black, 0 -1px 5px 0 black, 0 1px 5px 0 black;
		background-color: #fff;
	}

	//противотуманки
	&__numb::after {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		margin: -15px -100px 0 0;
		width: 19px;
		height: 19px;
		border-radius: 50%;
		border: 1px solid #aaa;
		box-shadow: inset 0 0 5px 0 black, 0 -1px 5px 0 black, 0 1px 5px 0 black;
		background-color: #fff;
	}

	//решотка бампера
	&__bump-grill {
		position: absolute;
		top: 50%;
		left: 50%;
		margin: 57px 0 0 -80px;
		width: 160px;
		height: 28px;
		background-color: #aaa;
		border: 2px solid #aaa;
		box-shadow: inset 0px 1px 5px 0 black, inset 0px -1px 5px 0 black, 0 -1px 3px 0 black, 0 1px 3px 0 black;
		border-radius: 100px 100px 200px 200px / 50px 50px 75px 75px;
	}

	//решотка бампера
	&__bump-line-1 {
		position: absolute;
		top: 0;
		left: 50%;
		margin: 4px 0 0 -75px;
		width: 150px;
		height: 2px;
		box-shadow: inset 1px 1px 1px 0 black, 1px 1px 1px 0 black;
		background-color: #ccc;
	}

	//решотка бампера
	&__bump-line-2 {
		position: absolute;
		top: 0;
		left: 50%;
		margin: 9px 0 0 -76px;
		width: 150px;
		height: 2px;
		box-shadow: inset 1px 1px 1px 0 black, 1px 1px 1px 0 black;
		background-color: #ccc;
	}

	//решотка бампера
	&__bump-line-3 {
		position: absolute;
		top: 0;
		left: 50%;
		margin: 14px 0 0 -70px;
		width: 140px;
		height: 2px;
		box-shadow: inset 1px 1px 1px 0 black, 1px 1px 1px 0 black;
		background-color: #ccc;
	}

	//решотка бампера
	&__bump-line-4 {
		position: absolute;
		top: 0;
		left: 50%;
		margin: 20px 0 0 -55px;
		width: 110px;
		height: 2px;
		box-shadow: inset 1px 1px 1px 0 black, 1px 1px 1px 0 black;
		background-color: #ccc;
	}

	//колеса
	&__wheel-left {
		position: absolute;
		bottom: 0;
		left: 0;
		margin: 0 0 0px 0px;
		width: 100px;
		height: 100px;
		background-color: #000;
		border-radius: 30px 30px 30px 30px / 75px 75px 75px 75px;
		transform: rotate(90deg);
	}

	//колеса
	&__wheel-right {
		position: absolute;
		bottom: 0;
		right: 0;
		margin: 0 0px 0px 0;
		width: 100px;
		height: 100px;
		background-color: #000;
		border-radius: 30px 30px 30px 30px / 75px 75px 75px 75px;
		transform: rotate(90deg);
	}

	//--------------------
}

//----- FOOTER -----